<div id="header" class="container_12">
	<div id="" class="grid_12 ">
		<div class="section">
			<a href="<%= root_path %>">
				<img src="/images/logo.jpg"/>
			</a>
			<a style="float:right;margin-top:10px;" href="<%= contact_path %>">
				Contact
			</a>
			<span style="float:right;margin-top:10px;">&nbsp;|&nbsp;</span>
			<a style="float:right;margin-top:10px;" href="<%= about_path %>">
				About Us
			</a>
			<span style="float:right;margin-top:10px;">&nbsp;|&nbsp;</span>
			<a style="float:right;margin-top:10px;" href="<%= product_path %>">
				Product
			</a>
			<span style="float:right;margin-top:10px;">&nbsp;|&nbsp;</span>
			<a style="float:right;margin-top:10px;" href="<%= root_path %>">
				Home
			</a>
			<br>
		</div>
	</div>
</div>